<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
    <title>Albumatic</title>
  </head>

  <body>
    <h1>Albumatic v2</h1>

    <p>Albumatic generates stamp album pages in PDF based on
    arguments given in the URL.</p>

    <p>For example, if you access URL:</p>

    <p><a href="/pdf/USA/Definitives/2009/1/ABA-BBB-AA">
    http://albumatic.appspot.com/pdf/USA/Definitives/2009/1/ABA-BBB-AA</a></p>

    <p>You will get an album page with headers and three rows of stamps.</p>

    <p>Feel free to create link pages that allows people to 
    generate album pages for different collection areas.</p>
    
    <p>You can define attributes to modify page layout. You write them to the end of the URL lik</p>

    <p><a href="/pdf/USA//2009/2/AAAA-BBBB?logotext=myalbum&header1pos=10">
    http://albumatic.appspot.com/pdf/USA//2009/2/AAAA-BBBB?logotext=myalbum&header1pos=10</a></p>
 
    Attributes are:
    <ul>
    <li>unit, default mm, allowed values: mm, in, pica, pt, in (all the later measurements are in this unit)</li>
    <li>pagewidth,  default A4</li>
    <li>pageheight, default A4<li>
    <li>logotext, default Albumatic, written to the left footer<li>
    <li>topmargin, default 12 mm</li>
    <li>bottommargin, default 18 mm</li>
    <li>leftmargin, default 15 mm</li>
    <li>rightmargin", default 15 mm</li>
    <li>header1pos, default 25 mm</li>
    <li>header1font, default ("Helvetica", 36)</li>
    <li>header2pos, default 35 mm</li>
    <li>header2font", ("Helvetica", 18)</li>
    <li>maxxdistance, default 15 mm</li>
    <li>maxydistance, default 25 mm</li>
    <li>header1, can be used to set header1 instead of the first part of the URL</li>
    <li>header2, can be used to set header2 instead of the second part of the URL</li>
    <li>leftfooter, currently synonym to logotext</li>
    <li>rightfooter, defaults to year + '/' + no where year and no comes from URL</li>
    <li>size_X=10,20, overwrite standard size X to width 10 and height 20</li>
    <li>template, can be used to set stamp layout instead of the last part of the path in URL</li>
    </ul>

    <p>Standard sizes follow sizes available as ready cut stamp mounts
    (from Hawid and/or Leuctturm) with our own naming. The size A is the most narrow,
    size B is the same width but taller. All the "potrait" stamps or square stamps are uppercase
    and the "landscape stamps are lowercase. All the potrait sizes can be seen in this
    <a href="/pdf?template=ABCDEFG-HIJKLM-NOPQR-STUV-WXYZ">page.</a></p>
    
    <p>And landscape sizes in this
    <a href="/pdf?template=abcde-fghi-jklm-nopq-rst-uv">page</a></p>
    
    <p>Any size letter can be redefined like in this
    <a href="/pdf?template=ABA-X&size_B=50,50&size_X=150,80">page</a></p>

<!--
    <p>(CURRENTLY NOT WORKING:) You can log in to set some preferences. For example, you
    can print pages in Letter size even though the links were
    designed for A4 paper size. You can use your Google 
    account (like Gmail) as your log in. This application 
    will not see your password.</p>
-->

    <p>This application is running in Google App Engine infrastructure
    and it is written using Python and Reportlab PDF generation
    library. The source code is available in
    <a href="http://code.google.com/p/albumatic">http://code.google.com/p/albumatic</a>
    <p>
    
    {% if message %}
        <p><b>{{ message }}</b></p>
    {% endif %}

<!--
    <p>
      <a href="pdf/COUNTRY/Area/Year/No/ABA-BBB-AA">test print</a>
      <a href="prefs">Set personal preferences</a>
    </p>
-->

    <p>{{ user_message }}</p>
    <p><a href="{{ url }}">{{ url_linktext }}</a></p>

    {% if admin %}
        <p><a href="resetdb">Reset defaults</a></p>
    {% endif %}

  </body>
</html>
